<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    {% load mptt_tags %}
</head>
<script>
    function updateQueryStringParameter(uri, key, value) {
      var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
      var separator = uri.indexOf('?') !== -1 ? "&" : "?";
      if (uri.match(re)) {
        return uri.replace(re, '$1' + key + "=" + value + '$2');
      }
      else {
        return uri + separator + key + "=" + value;
      }
    }
    function change_lang () {
        let lang = document.getElementById("lang").value
        window.location.replace(updateQueryStringParameter(window.location.href, "lang", lang));
    }
</script>
<body>
<select onchange="change_lang()" id="lang">
    <option value="US">US</option>
    <option value="RU">RU</option>
</select>
<h1>{{ title }}</h1>
<ul>
    {% recursetree genres %}
        <li>
            <a href="{{ node.link }}&lang={{ lang }}">{{ node.displayed_text }}</a>
            {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>
</body>
<script>
    document.getElementById("lang").value = "{{ lang }}"
</script>
<style>
    #lang {
        display: inline;
        float: right;
    }
</style>
</html>